{% extends 'layouts/base.html' %}
{% block content%}
<h1>About this page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nisi pariatur hic magni assumenda! Quae aliquam ea facilis, sapiente dolores quaerat nostrum quod, asperiores, accusantium exercitationem quos nihil recusandae deleniti? Magni nesciunt laborum, eveniet saepe commodi ipsa sunt, sint iure quasi impedit, ducimus excepturi qui fugiat. Aspernatur rem doloremque quaerat.</p>
<p>Website created by {{ username }}</p>
{% endblock %}